<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--<link rel="icon" href="../../favicon.ico">-->

		<title>Starter Template for Bootstrap</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet"
		      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		      crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet"
		      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		      crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		        crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				{% for fn in similarities %}
				<div class="col-md-4">
          <h2>{{ fn|title }}</h2>
					{% for sim in similarities[fn] %}
					<div class="row">
						<div class="col-md-6">
							<h3>{{ sim.article[0].title }}</h3>
							<div class="well well-sm">
								{{ sim.article[0].abstract }}
							</div>
						</div>
						<div class="col-md-6">
							<h3>{{ sim.article[1].title }}</h3>
							<div class="well well-sm">
								{{ sim.article[1].abstract }}
							</div>
						</div>
					</div>
			
					<div class="row">
						<div class="col-md-12">
							<div class="progress">
								{% if sim.distance_fn == "cosine" %}
                	{% set percentage = (sim.score + 1)*(100/2) %}
								{% elif sim.distance_fn == "euclidean" %}
                  {% set percentage = 100*sim.score / euclidean_max %}
                {% else %}
                	{% set percentage = 100*sim.score %}
								{% endif %}

								{% if percentage <= 33 %}
									{% set alert_type = "danger" %}
								{% elif percentage <= 66 %}
									{% set alert_type = "warning" %}
								{% else %}
									{% set alert_type = "success" %}
								{% endif %}

								<div class="progress-bar progress-bar-{{ alert_type }}"
									 role="progressbar"
									 aria-valuenow="{{ percentage|int }}"
									 aria-valuemin="0"
									 aria-valuemax="100"
									 style="width: {{ percentage|int }}%">
									{{ sim.score }}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}					
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>

